.verticle-menu{
    height: auto;
    overflow-y: scroll;
    width: 20%;
}
.verticle-menu a {
    background-color: lightblue;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin-left: 15px;
}
.verticle-menu a:hover {
    background-color: green;
    color: black;
    text-decoration: none;
}
.verticle-menu a:active {
    background-color: blue;
    color: white;
}
.column2 {
    float: left;
    width: 80%;
    padding-left: 100px;
    overflow-y: scroll;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}